#profile-grid {
    padding-top: 40px;
}

#profile-row2 {    
    margin-left: 10%;
    margin-right: 10%;   
}

#profile-col2 {
    background-color: #0f4e9e;
    border-radius: 10px;
    padding: 20px;
}

#profile-btn:hover {
    --background: #cc922f;
    font-weight: bolder;
    color: white;
}

#profile-btn {
    --background: white;
    --border-radius: 25px;
    color: #0f4e9e;
    font-size: medium;
    margin: auto; 
}

#profile-btn2 {
    --color:white;
    --border-radius: 25px;
    font-size: medium;
    margin: auto;
}

#profile-btn2:hover {
    --color: #cc922f;
    font-weight: bolder;
}

#edit-btn-div {
    padding-top: 10%;
    --background: #0f4e9e;
    border: none;     
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 20px;
    margin-bottom: 5%;
    width:120px;
    height: 120px;
}

#field {
    border: none;
    background-color: #0f4e9e;
    font-size: medium;    
}

#profile-col2 ion-text {
    color: #f4f5f8;
    padding-left: 3%;
    margin-top:1%;    
}
/* SMALL MOBILE VIEW*/
@media screen and (min-width: 320px) and (max-width: 375px) {
    ion-text, #label{
        font-size: small;
    }
    #profile-btn,#profile-btn2{
        font-size: small;
    }
   

  
}
/* MEDIUM MOBILE VIEW*/
@media screen and (min-width: 375px) and (max-width: 425px) {
  

}
/* LARGE MOBILE VIEW*/
@media screen and (min-width: 425px) and (max-width: 768px) {
   

}
/* TABLET VIEW*/
@media screen and (min-width: 768px) and (max-width: 769px){  
    #profile-btn,#profile-btn2{
        font-size: large;
    }
    #profile-row2 {    
        margin-left:20%;
        margin-right: 20%;   
    }
   
}
/* LAPTOP VIEW*/
@media screen and (min-width: 1024px) and (max-width: 1030px){  
    ion-text, #label{
        font-size: x-large;
    }
    #profile-btn,#profile-btn2{
        font-size: x-large;
    }
    
   

}
