ion-text, ion-input, ion-title, ion-button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#update-grid {
    padding-top: 40px;
}

#update-col2 {
    background-color: white;
    border-radius: 15px;
    border: #0f4e9e 2px solid;
    padding: 20px;
}

#update-title {
    color: #0f4e9e;
    font-weight: bold;
    font-size: x-large;
    margin-left: -20px;
}

#update-col2 ion-input {
    border: #D3D3D3 solid 2px;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: small;
}

#update-btn:hover {
    color: red;
}

#flyer-photo-upload, #start, #end {
    border-bottom: white 2px solid;
    padding-bottom: 10px;
}
