#view-grid {
    padding-top: 30px;
}

#view-row2 {    
    border-radius: 15px;
    border: #0f4e9e 2px solid;
    margin-left: 10%;
    margin-right: 10%;
}


#view-col2 ion-text {
    font-size: medium;
}


#view-col1 {
    padding: 20px;
    max-width: 40%;
}

#view-col2 {
    border: #0f4e9e solid 2px;
    background-color: #0f4e9e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

#view-col2 ion-item-divider {
    border: none;
    background: #0f4e9e;
}

#view-col2 ion-item-divider ion-label {
    color: white;
    padding-right: 3%;
}

#view-col2 ion-item-divider ion-text {
    color: white;
    margin-top: 1%;
}

#view-title-left {
    color: #0f4e9e;
    font-weight: bold;
    font-size: x-large;
    margin-left: -20px;
}

#view-btn1 {
    --color:white;
    --border-radius: 25px;
    font-size: medium;
    margin: auto;
}

#view-btn1:hover {
    --color: #cc922f;
    font-weight: bolder;
}

#view-btn2 {
    --color: #0f4e9e;
    --background: white;
    --border-radius: 25px;
    font-size: medium; 
    margin: auto;
}

#view-btn2:hover  {
    --color: white;
    --background: #cc922f;
    font-weight: bolder;
}

#view-img {
    max-width: 100%;
    padding-top: 25px;
    border: white 3px solid;
    border-radius: 25px;
    margin-top: 5%;
    max-height: 70%;
}

#view-btn-div {
    --background: #0f4e9e;
    border: 0px;
    margin-top: 10%;
}

/* SMALL MOBILE VIEW*/
@media screen and (min-width: 320px) and (max-width: 375px) {
    ion-text{
        font-size: x-small;

    }
    #label{
        font-size: large;
    }
    #view-row2 {    
        margin-left: 9%;
        margin-right: 9%;
        
    }

    #view-btn1,#view-btn2{
        font-size: 56%;
        padding-left:2%;
      
        
    }
    #view-btn-div{
        margin-left: -9%;
    }
    #view-title-left {
        font-size: 10px;
       
    }
    #view-col1 {
        padding: 20px;
        max-width: 80%;
    }
    #view-img {
        max-width: 60%;
        max-height: 60%;
    }
    #view-col2 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
       
    }
  
}
/* MEDIUM MOBILE VIEW*/
@media screen and (min-width: 375px) and (max-width: 425px) {
    ion-text, #label {
        font-size: small;

    }
    #view-btn1,#view-btn2{
        font-size:60%;
        padding-left:2%;
      
        
    }
    #view-btn-div{
        margin-left: -9%;
    }
    #view-title-left {
        font-size: small;
       
    }
    #view-col1 {
        padding: 20px;
        max-width: 80%;
    }
    #view-img {
        max-width: 60%;
        max-height: 60%;
    }
    #view-col2 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
       
    }


}
/* LARGE MOBILE VIEW*/
@media screen and (min-width: 425px) and (max-width: 768px) {
    ion-text, #label{
        font-size: medium;

    }
    #view-btn1,#view-btn2{
        font-size: 73%;
        padding-left:2%;
      
        
    }
    #view-btn-div{
        margin-left: -9%;
    }
    #view-title-left {
        font-size: medium;
       
    }
    #view-col1 {
        padding: 20px;
        max-width: 80%;
    }
    #view-img {
        max-width: 60%;
        max-height: 60%;
    }
    #view-col2 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
       
    }
    #view-row2 {    
        margin-left: 12%;
        margin-right: 12%;
    }

}
/* TABLET VIEW*/
@media screen and (min-width: 768px) and (max-width: 1023px){  
    #view-title-left {
        font-size: large;
       
    }  
    #view-btn1,#view-btn2{
        font-size: 70%;
        padding-left:2%;
      
        
    } 
    #view-row2 {    
        margin-left: 10%;
        margin-right: 10%;
    }
    #view-col2 {
        
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
       
    }

}