{% extends 'base.html' %} {% block content %}
<h1>Login</h1>

<form
  method="POST"
  action=""
  onsubmit="event.preventDefault(); login();"
  enctype="multipart/form-data"
  id="loginForm"
>
  {{ form.csrf_token }}
  <div class="form-group mb-3">
    {{ form.email.label(class="form-label") }} {{
    form.email(class="form-control") }} {% if form.email.errors %}
    <ul class="errors">
      {% for error in form.email.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-group mb-3">
    {{ form.password.label(class="form-label") }} {{
    form.password(class="form-control") }} {% if form.password.errors %}
    <ul class="errors">
      {% for error in form.password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <p><button type="submit" class="btn btn-primary">Login</button></p>
</form>

<script>
  async function login() {
    let loginForm = document.getElementById("loginForm");
    let form_data = new FormData(loginForm);

    const response = await fetch("/api/login", {
      method: "post",
      body: form_data,
    });
    const result = await response.json();
    localStorage.setItem("jwt", result.access_token);
    if (result.access_token) {
      localStorage.setItem("jwt", result.access_token);
      window.location.href = "/"; // redirect page
      console.log(result);
    } else {
      console.log(result);
    }
  }
</script>

{% endblock %}
