{% extends "base.html" %} {% block content %}

<h1>Signup</h1>

<form
  method="POST"
  action=""
  onsubmit="event.preventDefault(); signup();"
  enctype="multipart/form-data"
  id="signupForm"
>
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.full_name.label(class="form-label") }} {{
    form.full_name(class="form-control") }} {% if form.full_name.errors %}
    <ul class="errors">
      {% for error in form.full_name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.email.label(class="form-label") }} {{
    form.email(class="form-control") }} {% if form.email.errors %}
    <ul class="errors">
      {% for error in form.email.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.password.label(class="form-label") }} {{
    form.password(class="form-control") }} {% if form.password.errors %}
    <ul class="errors">
      {% for error in form.password.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.photo.label(class="form-label") }} {{
    form.photo(class="form-control") }} {% if form.photo.errors %}
    <ul class="errors">
      {% for error in form.photo.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <p><button type="submit" class="btn btn-primary">Submit</button></p>
</form>

<div id="login-div">
  Already have an account?
  <!-- login button-->
  <a href="{{ url_for('login_page') }}" id="login-btn"> Login</a>
</div>

<script>
  async function signup() {
    let signupForm = document.getElementById("signupForm");
    let form_data = new FormData(signupForm);

    const response = await fetch("/api/v1/signup", {
      method: "post",
      body: form_data,
    });
    const result = await response.json();
    if (result.errors) {
      console.log(result);
    } else {
      window.location.href = "/login"; // redirect page
      console.log(result);
    }
  }
</script>

{% endblock %}
