#admin-btn1, #admin-btn2, #admin-btn3 {
    --border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: medium;
}

#admin-btn4 {
    --border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: medium;
}

#admin-btn1:hover, #admin-btn2:hover, #admin-btn3:hover {
    --background-color: #cc922f;
    color: #cc922f;
    font-weight: bolder;
}

 #admin-btn4:hover {
    --background: #cc922f;
    color: white;
    font-weight: bolder;
}


#mobile-menu {
    margin-left: 6%;
    margin-top: 2%;
}

#menu-btn {
    --color: white;
}

#menu-btn:hover {
    --color: #cc922f;
}

/* TABLET VIEW */
@media screen and (min-width: 426px) and (max-width: 768px) {
    #menu-items ion-item {
        font-size: medium;
    }
}

/* MOBILE VIEW */
@media screen and (min-width: 0px) and (max-width: 425px) {    
    #menu-items ion-item {
        font-size: small;
    }
}
