ion-button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#admin-btn1, #admin-btn2, #admin-btn3 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: medium;
}

#admin-btn1:hover, #admin-btn2:hover, #admin-btn3:hover {
    font-weight: bolder;
}
