#home-btns {
    display: flex;
    flex-direction: row; 	
    flex-wrap: wrap;        	
    justify-content: center;
    align-items: center;
}

#home-btn1, #home-btn2, #home-btn3 {
    padding-left: 30px;
    padding-right: 30px;
}