#home-btn1, #home-btn2 {
    --color: #0f4e9e;
    --border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: medium;
}

#home-btn3 {
    --color: white;
    --background: #0f4e9e;
    --border-radius: 10px;
    font-size: medium;    
    padding-left: 40px;
    padding-right: 40px;
}

#home-btn1:hover, #home-btn2:hover { 
    --color: #cc922f;
    font-weight: bolder;
}

#home-btn3:hover {
    --color: white;
    --background: #cc922f;
    font-weight: bolder;
}

#mobile-menu {
    margin-left: 6%;
    margin-top: 2%;
}

#menu-btn {
    --color: white;
}

#menu-btn:hover {
    --color: #cc922f;
}

/* TABLET VIEW */
@media screen and (min-width: 426px) and (max-width: 768px) {
    #menu-items ion-item {
        font-size: medium;
    }
}

/* MOBILE VIEW */
@media screen and (min-width: 0px) and (max-width: 425px) {    
    #menu-items ion-item {
        font-size: small;
    }
}
