ion-button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#user-btn1, #user-btn2, #user-btn3, #user-btn4 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: medium;
}

#user-btn1:hover, #user-btn2:hover, #user-btn3:hover, #user-btn4:hover {
    font-weight: bolder;
}
